BODY {
	font-family: verdana;
	margin: 0px;	
}
.pageBody{
	margin-left: 140px;
	margin-top: 60px;
}
.requiredMark {
	color: #AA0000;
	font-size: 6px;
	line-height: 5px;
}
.applicationTitle {
	position: absolute;
	top: 14px;
	left: 14px;
	font-size: 16px;	
}
.applicationTitle A{
	color:#2281CF;
}

div.body {
	margin-left: 80px;
	margin-right: 10px;
	position: relative;
	top: -46px;
}

.menubar {
	margin-left: 16%;
	margin-right: 16%;
	border-top: none;
	border-right: 1px #18639A solid;
	border-bottom: 1px #0F568B solid;
	border-left: 1px #18639A solid;
	background: #2180CE;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33A0E8', endColorstr='#2180CE');
	background: -webkit-gradient(linear, left top, left bottom, from(#33A0E8), to(#2180CE));
	background: -moz-linear-gradient(top, #33A0E8, #2180CE);	
	text-shadow: #355782 0 1px 2px;	
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3), inset 0 1px 0 #83C5F1;
	text-shadow: none;
	border-radius: 0px 0px 15px 15px;
	font-size:12px;
	padding: 5px 16px;
}
.menubar-before {
	display: inline;
	float: left;
	background-image: url("../resource/css/layout/alternate/menu-bar-left.png");
	background-position: top;
	width: 26px;
	height: 24px;
	
}
.menubar-in {
	background-image: url("../resource/css/layout/alternate/menu-bar-center.png");
	background-position: top;
	background-repeat: repeat-x;
	height: 24px;
	padding-left: 10px;
	margin-right: 26px;
	margin-left: 26px;
	padding-top: 2px;
}
.menubar-after {
	display: inline;
	background-image: url("../resource/css/layout/alternate/menu-bar-right.png");
	background-position: top;
	width: 26px;
	height: 24px;
	float:right;
	position: relative;

}

.pageTitle {
	font-size: 16px;
	position: relative;
	left: -58px;
	top: 30px;
	color:#2281CF;
}
.titulo-pagina-corrente{
	color:#555;
}

.linkBar {
	font-size: 13px;
	font-family: verdana;
	padding-bottom: 6px;
	padding-top: 6px;
	padding-left: 2px;
}

.messageOuterDiv {
	padding-top: 2px;
	min-height: 80px;
	padding-bottom: 3px;
}

.messageblock {
	margin-left: 240px;
	margin-right: 60px;	
}

.messageblock UL {
	display: inline;
	margin: 0px;
	font-family: tahoma;
	font-size: 12px;
}

.messageblock LI {
	list-style: none;
	list-style-position: outside;
	border: 1px solid;
	margin-bottom: 1px;
	margin-top: 1px;
	padding: 4px;
	padding-left: 28px;
	border-radius: 5px 5px 5px 5px;
}

.bindblock {
	padding: 4px;
	margin-left: 240px;
	margin-right: 60px;
	border: 1px solid;
	border-color: #b40404;
	background-color: #FFCCCC;
	color: #555555;
}
.bindblock .messagetitle {
	background-color: #FFCCCC;
	display: inline;
	line-height: 2em;
	vertical-align: top;
	font-size: 12px;
	font-weight: bold;
	padding-left: 2px;
}

.bindblock UL {
	display: inline;
	margin: 0px;
	font-family: tahoma;
	font-size: 12px;
	
}

.bindblock .fieldname {
	font-weight: bold;	
}
fieldset{
	border-radius: 10px;
}

.bindblock LI {
	list-style: none;
	list-style-position: outside;
	padding-left: 2px;
}

LI.info{
	background-image: url("/sgp/img/style/icon-accept.png");
	height: 36px;
	background: #F1FDE3;
	border: 1px solid #E2F1D1;
	background-repeat: no-repeat;
	background-position: 5px 4px;
	font-size: 12px;
	color: #515F6D;
	font-family: trebuchet ms,arial,verdana;
	line-height: 36px;
	text-align: center;
}
LI.error{
	background-image: url("/sgp/img/style/icon-error.png");
	height: 36px;
	background: #FFE2E1;
	border: 1px solid #FDD3D2;
	margin-bottom: 20px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 5px 4px;
	font-size: 12px;
	color: #515F6D;
	font-family: trebuchet ms,arial,verdana;
	line-height: 36px;
	text-align: center;
}
span.exceptionitem{
	background-image: url("/sgp/img/style/icon-error.png");
	height: 36px;
	background: #FFE2E1;
	border: none;
	margin-bottom: 20px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 5px 4px;
	font-size: 12px;
	color: #515F6D;
	font-family: trebuchet ms,arial,verdana;
	line-height: 36px;
	text-align: center;
}
LI.causeitem {
	border: 0px;	
}
LI.warn{
	background-image: url("/sgp/img/style/icon-warning.png");
	height: 36px;
	background: #FFF7CC;
	border: 1px solid #FFEEAF;
	margin-bottom: 20px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 5px 4px;
	font-size: 12px;
	color: #515F6D;
	font-family: trebuchet ms,arial,verdana;
	line-height: 36px;
	text-align: center;
}
LI.debug{
	background-image: url("/sgp/img/style/icon-info.png");
	height: 36px;
	background: aliceBlue;
	border: 1px solid #DDEFFF;
	margin-bottom: 20px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 5px 4px;
	font-size: 12px;
	color: #515F6D;
	font-family: trebuchet ms,arial,verdana;
	line-height: 36px;
	text-align: center;
}
LI.trace{
	background-image: url("../resource/css/layout/alternate/trace.png");
	background-repeat: no-repeat;
	background-position: 5px 4px;	
	background-color: #FFFFFF;
	color: #333366;
	border-color: #333366;
}

LI.binderror{
	background-color: #FFCCCC;
	color: #993333;
	border-color: #993333;
}

.resultWindow {
	margin: 2px;
}

table{
	border:none;	
}

.dataGrid {
	width: 100%;
}
.dataGridHeader TH{
	box-shadow: 0 1px 1px rgba(0, 0, 0, .12), inset 0 0 0 black;
	border-top: 1px solid #82CFFA;
	border-bottom: 1px solid #96C4EA;
}
.dataGridHeader TD{
	box-shadow: 0 1px 0px rgba(0, 0, 0, .12), inset 0 0 0 black;
	border-top: 1px solid #82CFFA;
	border-bottom: 1px solid #96C4EA;
}
.dataGridHeader *  {
	font-weight: normal;
}
.dataGrid TD {
	font-size: 12px;
}
.dataGrid TH {
	font-size: 12px;
	text-align: left;
	padding: 3px;	
}
.dataGrid THEAD {
	background: #F0F9FF;
}

.dataGrid THEAD * {
	color: #1F75CC;
}	
.dataGrid THEAD TR TH {
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.12), inset 0 0 0 black;
}
.dataGrid TBODY TD {
	font-size: 11px;
	padding: 3px;
	border-bottom: 1px solid #C6D8E4;
}
.dataGrid TR{
	text-align: left;
	padding: 5px 6px;
	margin: 0 0 -1px 0;
	line-height: 32px;
	color: #555;
}
.filterWindow  {
	margin: 2px;
}
.filterWindow * {
	font-size: 12px;
}
.inputWindow  {
	margin: 2px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
.inputWindow * {
	font-size: 12px;
}

/* LOGIN
input[ type=text] ,[type=password]{
	border-radius: 3px;
	border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 0 0 black, inset 0 3px 3px #EEE;
	box-shadow: 0 0 0 black, inset 0 3px 3px #EEE;
	box-shadow: 0 0 0 black, inset 0 3px 3px #EEE;
	font-size: 16px;
	width: 300px;
	height: 20px;
	border: 1px solid #BFBFBF;
	padding: 5px;
}
*/

input[ type=text] ,[type=password]{
	background: white url(/sgp/img/style/topfade.gif) repeat-x top;
	border-style: none solid solid;
	vertical-align: middle;
	border: 1px solid #AAA;
	padding: 4px;
	color: #555;
	width: 160px;
	margin: 0;
	border-radius:3px 3px 3px 3px;
}

textarea{
	background: white url(/sgp/img/style/topfade.gif) repeat-x top;
	border-style: none solid solid;
	vertical-align: middle;
	border: 1px solid #AAA;
	padding: 4px;
	color: #555;
	margin: 0;
	border-radius:3px 3px 3px 3px;
}
select{
	background: white url(/sgp/img/style/topfade.gif) repeat-x top;
	border-style: none solid solid;
	vertical-align: middle;
	border: 1px solid #AAA;
	padding: 4px;
	color: #555;
	width: 160px;
	margin: 0;
	border-radius:3px 3px 3px 3px;
}

.linkBar A,.tootip-center,.tootip-center:hover,.linkBar A:hover{
	text-decoration: none;
}


button,input[ type=submit],.linkBar A{
	color: white;
	border-top: 1px #2270AB solid;
	border-right: 1px #18639A solid;
	border-bottom: 1px #0F568B solid;
	border-left: 1px #18639A solid;
	background: #2180CE;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33A0E8', endColorstr='#2180CE');
	background: -webkit-gradient(linear, left top, left bottom, from(#33A0E8), to(#2180CE));
	background: -moz-linear-gradient(top, #33A0E8, #2180CE);	
	text-shadow: #355782 0 1px 2px;	
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3), inset 0 1px 0 #83C5F1;
	border-radius: 3px;
	font-size:12px;
	padding: 5px 16px;
}

button:hover,input[type=submit]:hover, .linkBar A:hover{
	border-top:1px #0070cc solid;
	border-right:1px #006ac1 solid;
	border-bottom:1px #005ca6 solid;
	border-left:1px #006ac1 solid;
	box-shadow:0 1px 1px rgba(0, 0, 0, .3), inset 0 0 3px #35bff4;
}
button:active,input[type=submit]:active, .linkBar A:active{
	box-shadow:0 1px 1px rgba(0, 0, 0, 1.3), inset 0 0 3px #35bff4;
}
	
.sectionTitle {
	font-size: 20px;
	margin: 4px;
	margin-top: 8px;
	color: #006699;
	display: none;
}

.order {
	font-size: 12px;
	text-decoration: none;
	text-align: left;
}

.pagging {
	font-size: 12px;
	text-align: center;
	padding: 4px;
	font-size: 11px;
	color:#5B5B5B;
}

.actionBar {
	font-size: 12px;
	text-align: right;
	padding: 3px;
	font-size: 11px;
}

A {
	text-decoration: none;
	font-weight: normal;
	color: #1F75CC;
}
A:HOVER {
	text-decoration: underline;
}

FORM {
	display: inline;
}

.ajax-combo{
	color: white;
	border-top: 1px #2270AB solid;
	border-right: 1px #18639A solid;
	border-bottom: 1px #0F568B solid;
	border-left: 1px #18639A solid;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33A0E8', endColorstr='#2180CE');
	background: -webkit-gradient(linear, left top, left bottom, from(#33A0E8), to(#2180CE));
	background: -moz-linear-gradient(top, #33A0E8, #2180CE);
	text-shadow: #355782 0 1px 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3), inset 0 1px 0 #83C5F1;
	border-radius: 15px;
	font-size: 12px;
	padding: 5px 16px;
	width:10%;
	float: right; 
	display:none;
}


/* Tabs */


#tabPanelClear {
	background-color: white;
	float: right;
	position: relative;
	right: -4px;
	padding: 10px 0px 0px;
}
	
    #tabPanel {
    	position: relative;
    	left: -1px;
    	right: 1px;
    	top: -1px;
    	background-color: white;
    	float:left;
    	width: 100%;
      	font-size:93%;
      	line-height:normal;
      	background:#FFFFFF url("../resource/css/layout/alternate/tab-bg.gif") repeat-x bottom;
      }
    #tabPanel ul {
      margin:0;
      padding:0px 0px 0;
      list-style:none;
      }
    #tabPanel li {
      float:left;
      background:url("../resource/css/layout/alternate/tab-right-off.gif") no-repeat right top;
      margin:0;
      margin-right: 1px;
      padding:0px;
      }
    #tabPanel a {
      display:block;
      background:url("../resource/css/layout/alternate/tab-left-off.gif") no-repeat left top;
      padding:5px 15px 4px;
      }
    #tabPanel #current {
      background-image:url("../resource/css/layout/alternate/tab-right.gif");
      }
    #tabPanel #current a {
      background-image:url("../resource/css/layout/alternate/tab-left.gif");
      padding-bottom:5px;
      }
    #tabPanel a:hover {
    	text-decoration: none;
    }
    #tabPanel a:ACTIVE {
    	text-decoration: none;
    }
/* Tabs end */



/**
  Progress bar
 */
div.progressbar {
	border: 1px solid gray;
}
div.progressbar div {
	background-color: #7fb871;
	height: 12px;
	width: 0px;
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a0d7a7), to(#5c9839));
	 
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #a0d7a7, #5c9839);
	  
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #a0d7a7, #5c9839);
	  
	/* IE 10 */
	background: -ms-linear-gradient(top, #a0d7a7, #5c9839);
	/* IE 9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#a0d7a7, endColorstr=#5c9839)";
	/* IE <= 8*/    
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0d7a7', endColorstr='#5c9839');
	
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #a0d7a7, #5c9839);	
}

div.progressbar div.progressBarError {
	background-color: #red;
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d65656), to(#741414));
	 
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #d65656, #741414);
	  
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #d65656, #741414);
	  
	/* IE 10 */
	background: -ms-linear-gradient(top, #d65656, #741414);
	/* IE 9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#d65656, endColorstr=#741414)";
	/* IE <= 8*/    
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d65656', endColorstr='#741414');
	
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #d65656, #741414);	
}

div.progressStatus {
}

div.progressTasks {
	padding-left: 10px;
	font-style: italic;
}

div.progressTasks *.progressInfoError {
	color: red;
}
.labelColumn {
	color:#555;
}
.labelColumn:second-line{
	color:#ff0000;
	/*font-size:large;*/
}
.last-login{
	font-size:10px;
}
.p_dialog{
	background:none repeat scroll 0 0 transparent;
	height:4.6em;
	padding:0px 10px;
	color: #515F6D;
	cursor:pointer;
	border:1px solid #EAEAEA;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}
.p_dialog_success{
	background: #F1FDE3;
	border: 1px solid #E2F1D1;
}
.p_dialog_success:hover{
	background:#DFD;
	color:#000;	
}

.p_dialog_sub_success{
	border-top: 1px solid #BDD8BD; 
}

.p_dialog_warning{
	background: #FFC;
	border: 1px solid #FFEEAF;
}
.p_dialog_warning:hover{
	background: #FFF7CC;	
	color:#000;	
}
.p_dialog_sub_warning{
	border-top: 1px solid #E4E4B6; 
}

.p_dialog_error{
	background: #FFE2E1;
	border: 1px solid #FDD3D2;
}
.p_dialog_error:hover{
	background: #FCC;
	color:#000;	
}
.p_dialog_sub_error{
	border-top: 1px solid #E3909E; 
}
.ultimaalteracao{
	color: #999;
}


/*jquery UI*/
body{ font: 62.5% "Verdana";}
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

.ui-button{
	text-shadow: none;	
	box-shadow: none;
}
.ui-button:hover{	
	box-shadow:none;
}
.ui-button:active{
	box-shadow:none;
}
/* end jquery UI*/

#selecTipoTransportador{
	color: #555;
	font-size: 16px;
}
.campos-pg{
	display:none;
}
#picture{
	border:medium none;
	height:140px;
	margin-left:-129px;
	margin-top:8px;
}
#logomarca{
	width: 165px;
	height: 72px;
	border: none;
	margin-top: 0px;
	padding:3px;
	vertical-align: middle;
}
#imagem{
	border: 1px solid #CDCDCD;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	margin-top: 0px;
	padding:3px;
	width: 110px;
	height:150px;
	vertical-align: middle;
}
#imagem_listagem{
	border: 1px solid #CDCDCD;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	margin-top: 0px;
	padding:3px;
	width: 40px;
	height:40px;
	vertical-align: middle;
}
/*	CSS das SCHEDAS*/
#error-email,#error-nome{
	display: none;
	padding-left:7px;
	background-color: #EEC1C1;
	border: 1px solid #BC5F5F;
	color: #650E0E;
	font-size:12px;
}

#error-titulo, #error-desc, #error-detalhes{
	display: none;
	padding-left:7px;
	background-color: #EEC1C1;
	border: 1px solid #BC5F5F;
	color: #650E0E;
	font-size:12px;
}

#informacao-detalhes{
	display: none;
	background-color: #FFF7A1;
	border: 1px solid #D0BC16;
	color: #7D6E18;
	padding-left:7px;
	font-size:12px;	
}

#corpo-interecao{
	position:relative;
	width:900px;
	top: 10px;
	background:#FFF;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	color: #555;;
}

.corpo-interecao-cabecalho{
	position:relative;
	width:900px;
	min-height:60px;		
	background:#F0F9FF;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	box-shadow: 0 1px 0px rgba(0, 0, 0, .12), inset 0 0 0 black;
	border-top: 1px solid #82CFFA;
	border-bottom: 1px solid #96C4EA;	
}

.corpo-interecao-cabecalho-status{
	position:absolute;
	left:30px;
	top:4px;
	font-family:"Segoe UI", Arial, Verdana, sans-serif;
	font-size: 16px;
}

.corpo-interecao-cabecalho-criado{
	position:absolute;
	left:470px;
	top:4px;
	font-family:"Segoe UI", Arial, Verdana, sans-serif;
	font-size: 16px;
}

.corpo-interecao-cabecalho-anexo{
	position: absolute;
	left: 770px;
	top: 32px;
	font-family: "Segoe UI", Arial, Verdana, sans-serif;
	font-size: 18px;
}

.interacao-user{
	width:100px;
	min-height:120px;
	text-align:center; 
	background:#fff;
	font-family:"Segoe UI", Arial, Verdana, sans-serif;
	font-size: 16px;
}

.interacao-texto{
	width:100px;
	height:120px;
	text-align:justify; 
	background:#FFF;
	font-family:"Segoe UI", Arial, Verdana, sans-serif;
	font-size: 16px;
}

.interacao-anexo{
	width:100px;
	min-height:120px;
	text-align:center; 
	background:#FFF;
}

.interacao-anexo b{
	font-family:"Segoe UI", Arial, Verdana, sans-serif;
	font-size: 14px;
}

.tabela-nova-interacao{
	left: 23px;
	position: relative;
}

.tabela-nova-interacao b{
	font-family: "Segoe UI", Arial, Verdana, sans-serif;
	font-size: 14px;	
}

.tabela-nova-interacao textarea{
	border: 2px solid #CCC;
	font-family: "Segoe UI", Arial, Verdana, sans-serif;
	font-size: 14px;
		
}